<main>
    <section class="py-5 text-center middle">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light text-white">{{ "auth.SIGN_UP" | translate }}</h1>
        </div>
    </section>
    <section class="py-5 d-flex justify-content-center">
        <form (ngSubmit)="signUp(form.value)" #form="ngForm">
            <div class="form-floating mb-2">
                <input type="email" ngModel name="email" class="form-control" id="floatingInput" placeholder="name@example.com" />
                <label for="floatingInput">{{ "auth.EMAIL" | translate }}</label>
            </div>
            <div class="form-floating mb-2">
                <input type="password" ngModel name="password" class="form-control" id="floatingPassword" placeholder="Password" />
                <label for="floatingPassword">{{ "auth.PASSWORD" | translate }}</label>
            </div>
            <div class="form-floating mb-2">
                <input type="password" class="form-control" id="floatingRepeatPassword" placeholder="Password" />
                <label for="floatingRepeatPassword">{{
            "auth.REPEAT_PASSWORD" | translate
          }}</label>
            </div>
            <button class="w-100 btn btn-lg btn-outline-secondary" type="submit">
          {{ "auth.SIGN_UP" | translate }}
        </button>
        </form>
    </section>
</main>