<div class="col">
  <div class="card shadow-sm">
    <div class="movie-poster">
      <img src="" alt="" />
    </div>
    <div class="card-body">
      <p class="h4">{{ item.book?.volumeInfo.title }}</p>
      <p class="card-text">
        {{ item.book?.volumeInfo.description }}
      </p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <button
            type="button"
            (click)="goToDetails()"
            class="btn btn-sm btn-outline-secondary"
          >
            Details
          </button>
        </div>
        <small class="text-muted">9 mins</small>
      </div>
    </div>
  </div>
</div>
