<div class="card">
  <img
    class="card-img-top img"
    [src]="
      item.book.items[0].volumeInfo.imageLinks?.thumbnail ||
      '../../../../assets/img/No_Image_Available.jpg'
    "
  />
  <div class="card-body">
    <h5 class="card-title">{{ item.book.items[0].volumeInfo.title }}</h5>
    <p class="card-text">
      {{ item.book.items[0].searchInfo.textSnippet | slice: 1:100 }}
    </p>
    <button
      type="button"
      (click)="goToDetails()"
      class="btn btn-sm btn-outline-success"
    >
      {{ "catalogue.MORE" | translate }}
    </button>
  </div>
</div>
