.middle {
  background-image: url("/assets/img/catalogue-bg.jpg");
  background-size: cover;
}

main {
  height: calc(100% - 60px);
}

.search-form {
  max-width: 400px;
}

.alert {
  margin-bottom: 0px !important;
}

.badge {
  cursor: pointer;
}


img {
  width: 300px;
}
