<main>
  <section class="py-3 text-center middle">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light text-white">
        {{ "catalogue.add_book.TITLE" | translate }}
      </h1>
    </div>
  </section>

  <div class="py-5">
    <div class="container d-flex justify-content-center flex-column w-100">
      <app-book-search
        (searchBook)="search($event)"
        (fetchBookChange)="fetchBook($event)"
        [searchKey]="searchKey"
        [hasError]="hasError"
        [lastThreeSearches]="lastThreeSearches"
      ></app-book-search>
      <div class="row d-flex justify-content-center mt-2 flex-row mb-3">
        <div class="row" *ngIf="selectedBook">
          <h2>{{ selectedBook.volumeInfo.title }}</h2>
          <p>{{ selectedBook.volumeInfo.description }}</p>
          <img
            [src]="selectedBook.volumeInfo.imageLinks.smallThumbnail"
            alt="{{ selectedBook.volumeInfo.title }}"
          />
          <div *ngFor="let category of selectedBook.volumeInfo?.categories">
            <p>category: {{ category }}</p>
          </div>
          <div *ngFor="let country of selectedBook.accessInfo.country">
            <ng-container *ngIf="country">
              <img
                [src]="getCountryFlag(country.code)"
                [title]="getCountryPopulation(country)"
              />
            </ng-container>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="selectedBook">
        <form [formGroup]="form">
          <div class="row mb-3">
            <label for="review" class="col-sm-2 col-form-label">
              {{ "catalogue.add_book.REVIEW" | translate }}</label
            >
            <div class="col-sm-10">
              <textarea
                type="text"
                class="form-control"
                id="review"
                formControlName="review"
              ></textarea>
            </div>
          </div>
          <div class="row mb-3">
            <label for="rating" class="col-sm-2 col-form-label">
              {{ "catalogue.add_book.RATING" | translate }}</label
            >
            <div class="col-sm-10">
              <span class="ms-2" *ngFor="let rating of ratings">
                <input
                  type="radio"
                  class="form-check-input"
                  [value]="rating"
                  name="rating"
                  formControlName="rating"
                />
              </span>
            </div>
          </div>
          <div class="row mb-3">
            <label for="status" class="col-sm-2 col-form-label">
              {{ "catalogue.add_book.STATUS" | translate }}</label
            >
            <div class="col-sm-10">
              <select class="form-select" formControlName="status">
                <option [value]="status.Read">
                  {{ "catalogue.add_book.READ" | translate }}
                </option>
                <option [value]="status.ReadLater">
                  {{ "catalogue.add_book.READ_LATER" | translate }}
                </option>
              </select>
            </div>
          </div>
          <div class="row mb-3" *ngIf="canReadLater">
            <label for="status" class="col-sm-2 col-form-label">
              {{ "catalogue.add_book.whenToRead.TITLE" | translate }}</label
            >
            <div class="col-sm-10">
              <select class="form-select" formControlName="whenToRead">
                <option [value]="null">
                  {{ "catalogue.add_book.whenToRead.SELECT" | translate }}
                </option>
                <option
                  [value]="whenToRead.value"
                  *ngFor="let whenToRead of whenToRead"
                >
                  {{ whenToRead.label | translate }}
                </option>
              </select>
            </div>
          </div>
          <button type="submit" class="btn btn-primary" (click)="submit()">
            {{ "catalogue.add_book.buttons.ADD" | translate }}
          </button>
          <ng-container *ngIf="submited && form.invalid">
            <div
              class="alert alert-danger mt-2"
              role="alert"
              *ngIf="form.controls.review?.errors?.required"
            >
              {{ "catalogue.errors.add_book.REVIEW_IS_REQUIRED" | translate }}
            </div>
            <div
              class="alert alert-danger mt-2"
              role="alert"
              *ngIf="form.controls.review?.errors?.minlength"
            >
              {{ "catalogue.errors.add_book.REVIEW_LENGTH" | translate }}
            </div>
          </ng-container>
        </form>
      </div>
    </div>
  </div>
</main>
