<main>
  <section class="py-5 text-center bgImg">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light text-white">
        {{ "catalogue.WELCOME_TO_BOOKS_CATALOGUE" | translate }}
      </h1>
      <p class="lead text-white">
        {{ "catalogue.YOU_CAN_ADD_BOOK" | translate }}
      </p>
      <button class="btn btn-success" routerLink="add">
        {{ "catalogue.add_book.buttons.ADD" | translate }}
      </button>
    </div>
  </section>
  <app-book-list></app-book-list>
</main>
