<main>
    <section class="py-5 text-center middle">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light text-white">Welcome to Movie Catalogue</h1>
            <p class="lead text-white">
                You can add your favourite movies with rating and reviews.
            </p>
            <p>
                <a href="#" class="btn btn-outline-light" routerLink="add">Add Movie</a>
            </p>
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col">
                    <div class="card shadow-sm">
                        <div class="movie-poster">
                            <!-- <img src="pulp-fiction.jpg" /> -->
                        </div>
                        <div class="card-body">
                            <p class="h4">Pulp Fiction</p>
                            <p class="card-text">
                                In the realm of underworld, a series of incidents intertwines the lives of two Los Angeles mobsters, a gangster's wife, a boxer and two small-time criminals.
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">
                    Details
                  </button>
                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <div class="movie-poster">
                            <!-- <img src="harry.jpg" /> -->
                        </div>
                        <div class="card-body">
                            <p class="h4">Harry Potter and the Deathly Hallows: Part 1</p>
                            <p class="card-text">
                                After Voldemort takes over the Ministry of Magic, Harry, Ron and Hermione are forced into hiding. They try to decipher the clues left to them by Dumbledore to find and destroy Voldemort's Horcruxes.
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">
                    Details
                  </button>
                                </div>
                                <small class="text-muted">20 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <div class="movie-poster">
                            <!-- <img src="pulp-fiction.jpg" /> -->
                        </div>
                        <div class="card-body">
                            <p class="h4">Pulp Fiction</p>
                            <p class="card-text">
                                In the realm of underworld, a series of incidents intertwines the lives of two Los Angeles mobsters, a gangster's wife, a boxer and two small-time criminals.
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">
                    Details
                  </button>
                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <div class="movie-poster">
                            <!-- <img src="harry.jpg" /> -->
                        </div>
                        <div class="card-body">
                            <p class="h4">Harry Potter and the Deathly Hallows: Part 1</p>
                            <p class="card-text">
                                After Voldemort takes over the Ministry of Magic, Harry, Ron and Hermione are forced into hiding. They try to decipher the clues left to them by Dumbledore to find and destroy Voldemort's Horcruxes.
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">
                    Details
                  </button>
                                </div>
                                <small class="text-muted">20 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>